$font__main: 'Sorts Mill Goudy', serif;
/* $font__heading: 'Montserrat', sans-serif; */
$font__heading: "Bona Nova SC", serif;
$color__blue: #0b3887;
$color__orange: #57a533;
$color__grey: #a2abb0;
$color__white: #ffffff;
$color__block: #000000;
$color__green: #687758;

$color__background: #514B5E;

$color__link: $color__blue;
$color__link-hover: lighten($color__blue, 15%);